<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @activity.userid %>
</p>

<p>
  <strong>Activityid:</strong>
  <%= @activity.activityid %>
</p>

<p>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>Private:</strong>
  <%= @activity.private %>
</p>

<p>
  <strong>Location:</strong>
  <%= @activity.location %>
</p>

<p>
  <strong>Start:</strong>
  <%= @activity.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @activity.end %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
